.form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @media screen and (max-width: 767px) {
        gap: 1.5rem;
    }
}

.input {
    font-size: 1rem;
    line-height: 1;
    border: none;
    background-color: var(--bgColor);
    padding: 1rem;
    border-radius: 0.5rem;

    &::placeholder {
        color: var(--placeHolderColor);
    }
}

.error {
    font-size: 0.75rem;
    color: var(--errorColor);
    transition: max-height 0.25s ease-in, margin-top 0.15s ease-in;
    max-height: 0;
    margin-top: -1.25rem;
}

.is_visible {
    max-height: 24px;
    margin-top: -1rem;
}
