@font-face {
  font-family: "Mona-Sans";
  src: url('./fonts/Mona-Sans.woff2') format('woff2'),
       url('./fonts/Mona-Sans.woff') format('woff'),
       url('./fonts/Mona-Sans.ttf')  format('truetype');
}

:root {
  --backgroundColor: #F2F2F2;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

html { 
  overflow-y: scroll; 
}

body {
  font-family: 'Mona-Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--backgroundColor);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}